<ion-header translucent no-border>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/schedule"></ion-back-button>
  </ion-buttons>

    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        My Account
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/checkmark-filled.svg"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../../assets/player104.png" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">Ravi Kumar</h3>
          <h5 class="country">Visakhapatnam</h5>
          <h6 class="ranking">Account ID: <ion-chip>
              <ion-label>2</ion-label>
            </ion-chip>
          </h6>
        </div>

        <ion-button expand="full" color="primary">Click here to view your orders</ion-button>
        <ion-button expand="full" color="secondary">Add Car Details</ion-button>
        <ion-button expand="full" color="secondary">Reward Points</ion-button>

      </div>
    </div>
</ion-content>