<ion-header>
  <ion-toolbar>
    

    <ion-title>Booking Confirmed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h3 id = "bc"> &nbsp; Booking Confirmed </h3>


<p id = "bcmsg"> Your Car Wash Booking is confirmed. The Driver will soon arrive at your place to pick up the car.</p>


 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Eo_circle_green_white_checkmark.svg/800px-Eo_circle_green_white_checkmark.svg.png" />

 
<div id = "hp">
 <ion-buttons>
   <ion-button fill="solid" size="large" (click)="gotoHome()"> Click here to go to Home Page </ ion-button>
 </ion-buttons>

</div>
</ion-content>
